{% extends "hostel\hostels.html" %}
{% load hostels_tags %}
{%load staticfiles %}

<!-- this page is the information page of hostelite:hostels and a means of contact, it uses a custome tag
        to get the total number of hostels thus far-->
{% block title %}About Hostelite{% endblock %}
{% block content_banner %}
    <!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/blog-post-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="{% url "hostel:about_hostelite"%}">About</a></li>
						<li><a href="#contact_us">Contact us</a></li>
						<li>How to Get Started on HosteLite</li>
					</ul>
					<h1 class="white-text">How to Get Started on Hostelite</h1>
					<ul class="blog-post-meta">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /Hero-area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="mt-3">HosteLite Boarding Services</h2>
				<hr>
                <p> With over {% total_hostels %} hostels listed over several tetiary institutions for your
					convenient all over Nigeria,</br> you can say we have got you covered.
                    So when deciding on your next hostel accommodation think HosteLite.</br>
                    Hostelite is currently open to listing of hostels from prospective landlords and caretakers.
                    </br>You can Register or contact us via the following phone numbers:<strong> 08067148400, 08067148400</strong>. </br>
					You can come down to our head office at<strong> 1, Silvertone avenue, Lekki phase II, Lagos state, Nigeria</strong>.</br>
					We look forward to partnering with you.
                </p>
            </div>
        </div>
        <div id="contact_us" class="row">
                <div class="col-md-8 offset-md-2 mt-3 text-center">
                    {% if sent %}
                        <h3>E-mail successfully sent</h3>
                        <p> We will surely get back to you. </br>Thank you.</p>
                    {% else %}
                        <h3>Contact Us</h3>
						<hr>
                        <form class="contact_form" action="." method="post" id="contact_form">
                            <p class="text-center">{{ contact_form.non_field_errors }}</p>
                            <div class="form-group row">
                                <p>{{ contact_form.name.errors }}</p>
                                <label for="{{ contact_form.name.id_for_label }}" class="col-sm-2 col-form-label"> Name:</label>
                                <div class="col-sm-8">
                                	<input type="text" name="name" id="name" class="form-control"
                                	    required="True" placeholder="Enter Name" />
                                </div>						
                            </div>
                             <div class="form-group row">
                                <p>{{ contact_form.email.errors }}</p>
                                <label for="{{ contact_form.email.id_for_label }}" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-8">
                                	<input type="text" name="email" id="email" class="form-control"
                                	    required="True" placeholder="Enter Email" />
                                </div>						
                            </div>           
                            <div class="form-group row">
                                <p>{{ contact_form.subject.errors }}</p>
                                <label for="{{ contact_form.subject.id_for_label }}" class="col-sm-2 col-form-label">Subject:</label>
                                <div class="col-sm-8">
                                	<input type="text" name="subject" id="subject" class="form-control"
                                	    required="True" placeholder="Enter message title" />
                                </div>						
                            </div>  
                            <div class="form-group row">
                                <p>{{ contact_form.message.errors }}</p>
                                <label for="{{ contact_form.message.id_for_label }}" class="col-sm-2 col-form-label">Message:</label>
                                <div class="col-sm-8">
									<textarea class="form-control" name="message" id="message" rows="3" required="True"
									 placeholder="Enter your message" style="height: 180px"></textarea>
                                </div>						
                            </div>  
							{% csrf_token %}
							<div class="col-sm-8 offset-md-2">
								<input class="btn btn-primary btn-block main-button icon-button" type="submit" value="Send" onclick="validateLoginFormData();">
							</div>
						</form>
					{% endif %}    
                </div>
            </div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<ul class="nav footer-nav  justify-content-center mt-3 mb-3">
						{% if request.user.is_authenticated %}
							<li class="nav-item">
							   <a class="nav-link active" href="{% url "password_change" %}">Change Password</a>
							</li>
						{% else %}
							<li class="nav-item">
							   <a class="nav-link active" href="#">Create Account</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{% url "login" %}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url "password_reset" %}">forgotten password</a>
						</li>
					</ul>
				</div>
			</div>
        </div>   
    </div>
{% endblock %}
