{% extends "base.html" %}
{% load hostels_tags %}
{%load staticfiles %}

{% block title %}Hostels{% endblock %}

{% block content_header %}
	<header id="header">
		<div class="container">
			<nav class="navbar navbar-expand-sm" id="nav">
				<div class="container">
					<a class="navbar-brand logo" href="#">HosteLite</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							{% if request.user.is_authenticated %}
			                    <!-- if a user is logged in this navbar content is displayed -->
			                    <ul class="main-menu nav navbar-nav mr-auto">
			                        <li class="nav-item">
			                            <a class="nav-link" href="{% url "hostel:homepage" %}">Home</a>
			                        </li>
									<li class="nav-item">
										<a class="nav-link" href="{% url "hostel:about_hostelite" %}">About</a>
			                        </li>
								</ul>
			                    <form class="form-inline ml-auto pl-5" role="search" action="." method="get">
			                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
									<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search fa-sm"></i>&nbsp;Search</button>
			                    </form>
			                    <ul class="main-menu nav navbar-nav ml-auto">
			                        <li class="nav-item">
										<a class="nav-link" href="{% url "hostel:vacant_hostels" %}">Hostels</a>
			                        </li>
									<li class="nav-item">
			                            <a class="nav-link" href="{% url "account:dashboard" %}">Profile</a>
			                        </li>
			                        <li class="nav-item">
										<a class="nav-link" href="#">Roomies</a>
			                        </li>
									<li class="nav-item">
										<a class="nav-link" href="#">Community</a>
			                        </li>
									<li class="nav-item">
                                        <a class="nav-link" href="{% url "logout" %}">Logout</a> 
                                    </li>
			                    </ul>
							{% else %}
								<form class="form-inline ml-auto pl-5" role="search" action="." method="get">
			                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
									<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search fa-sm"></i>&nbsp;Search</button>
			                    </form>
								<ul class="main-menu nav navbar-nav ml-auto">
			                        <li class="nav-item">
			                            <a class="nav-link" href="{% url "hostel:homepage" %}">Home</a>
			                        </li>
			                        <li class="nav-item">
										<a class="nav-link" href="{% url "hostel:about_hostelite" %}">About</a>
			                        </li>
									<li class="nav-item">
										<a class="nav-link" href="{% url "hostel:vacant_hostels" %}">Hostels</a>
			                        </li>
									<li class="nav-item">
										<a class="nav-link" href="#">Roomies</a>
			                        </li>
									<li class="nav-item">
										<a class="nav-link" href="#">Community</a>
			                        </li>
									<li class="nav-item">
                                        <a class="nav-link" href="{% url "login" %}">Login</a> 
                                    </li>
			                    </ul>
							{% endif %}
						</div>
					</div>	
				</nav>
			</div>
		</header>

{% endblock %}

{% block content_banner %}
	<!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/page-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="{% url "hostel:vacant_hostels" %}">Hostels</a></li>
						<li><a href="#">Create Account</a></li>
						<li>List of vacant Hostels</li>
					</ul>
					<h1 class="white-text">Vacant Hostels</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- /Hero-area -->
{% endblock %}

{% block content %}
	<!-- Blog -->
	<div id="blog" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row mt-3">
				{% block content_main %}
				<!-- main blog -->
				<div id="main" class="col-md-9">
					<!-- row -->
					<div class="row">
					<!-- single blog -->
					{%for hostel in hostels %}
						<div class="col-md-6">
							<div class="single-blog">
								<div class="blog-img">
									<a href="#"><img src="./img/blog01.jpg" alt=""></a>
								</div>
								<h4><a href="blog-post.html">Pro eu error molestie deserunt. At per viderer bonorum persecuti.</a></h4>
								<div class="blog-meta">
									<span class="blog-meta-author">By: <a href="#">John Doe</a></span>
									<div class="pull-right">
										<span>18 Oct, 2017</span>
										<span class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></span>
									</div>
								</div>
							</div>
						</div>
						<!-- /single blog -->
					{% endfor %}
		        </div>
				<!-- /main blog -->
				{% endblock %}
				
				{% block content_aside %}
				<!-- aside blog -->
				<div id="aside" class="col-md-3">
					<!-- category widget -->
					<div class="widget category-widget">
						<h3>Categories</h3>
						<a class="category" href="#">Self cont. <span>12</span></a>
						<a class="category" href="#">One-Room apt' <span>5</span></a>
						<a class="category" href="#">Flat <span>24</span></a>
						<a class="category" href="#">School Hostels <span>78</span></a>
					</div>
					<!-- /category widget -->
					<!-- posts widget -->
					<div class="widget posts-widget">
						<h3>Recent Roomies</h3>
						<!-- single posts -->
						<div class="single-post">
							<a class="single-post-img" href="blog-post.html">
								<img src="./img/post01.jpg" alt="">
							</a>
							<a href="blog-post.html">jasmine looking for roomie.</a>
							<p><small>By : John Doe .18 Oct, 2017</small></p>
						</div>
						<!-- /single posts -->
					</div>
					<!-- /posts widget -->
					<!-- tags widget -->
					<div class="widget tags-widget">
						<h3>Tags</h3>
						<a class="tag" href="#">19th Street</a>
						<a class="tag" href="#">Ekosodin</a>
						<a class="tag" href="#">One-Room</a>
						<a class="tag" href="#">N50,000</a>
						<a class="tag" href="#">Green Roof Estate</a>
					</div>
					<!-- /tags widget -->
				</div>
				<!-- /aside blog -->
				{% endblock %}
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /Blog -->
{% endblock %}

{% block content_why %}
{% endblock %}

{% block content_about %}
{% endblock %}
{% block content_contact %}
{% endblock %}

{% include "pagination.html" with page=hostels %}
