{% extends "hostel\hostels.html" %}
{%load staticfiles %}

{% block title %}password change{% endblock %}

{% block content_banner %}
    <!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/blog-post-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="{% url "hostel:homepage" %}">Home</a></li>
						<li><a href="{% url "hostel:vacant_hostels"%}">Hostels</a></li>
						<li>Welcome to HosteLite</li>
					</ul>
					<h1 class="white-text">Welcome to HosteLite</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Password set</h3>
				<hr>
                <p>Your password has been set. You can <a href="{% url "login" %}"> login now</a></p>
            </div>
        </div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<ul class="nav nav footer-nav justify-content-center pl-5 ml-5 mt-4 mb-5">
					<li class="nav-item">
						<a class="nav-link active" href="{% url "account:register" %}">Create Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url "password_change"%}">Change password</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url "password_reset" %}">forgotten password</a>
					</li>
				</ul>
			</div>
		</div>
    </div>   
{% endblock %}

{% block content_form %}

{% endblock %}
