{% extends "hostel\hostels.html" %}
{%load staticfiles %}

{% block title %}Reset password{% endblock %}

{% block content_banner %}
    <!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/blog-post-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="{% url "hostel:homepage" %}">Home</a></li>
						<li><a href="{% url "hostel:vacant_hostels" %}">Hostels</a></li>
						<li>Welcome to HosteLite</li>
					</ul>
					<h1 class="white-text">Welcome to HosteLite</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                	{% if form.errors %}	
						<h4 class="mt-3 text-center"> Please check and try again.</h4>
					{% else %}
						<h2 class="mt-3 text-center">Reset password</h2>
						<hr>
                        <p class="text-center">Your password would be reset and sent to your email.</p>
					{% endif %}
					<form name="resetpasswordform" class="text-center" action="." method="post">
						<p>{{ form.non_field_errors }}</p>
						<p class="text-center">{{ form.email.errors }}</p>
						<div class="form-group row">
							<label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Email:</label>
							<div class="col-sm-8">
								<input type="text" name="email" id="email" class="form-control"
								     required="True" placeholder="Enter your email address" />
							</div>
						</div>
						{% csrf_token %}
						<div class="col-sm-8 offset-md-2">
							<input class="btn btn-primary btn-block main-button icon-button" type="submit" value="change">
						</div>
					</form>
                </div>
            </div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<ul class="nav footer-nav justify-content-center">
						<li class="nav-item">
						   <a class="nav-link active" href="{% url "account:register" %}">Create Account</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url "password_change"%}">Change password</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url "password_reset"%}">forgotten password</a>
						</li>
					</ul>
				</div>
			</div>
        </div>   
{% endblock %}




    

