{% extends "hostel\hostels.html" %}
{%load staticfiles %}

{% block title %}Reset password{% endblock %}

{% block content_banner %}
    <!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/blog-post-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li>How to Get Started in Photography</li>
					</ul>
					<h1 class="white-text">How to Get Started in Photography</h1>
					<ul class="blog-post-meta">
						<li class="blog-meta-author">By : <a href="#">John Doe</a></li>
						<li>18 Oct, 2017</li>
						<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                	{% if form.errors %}	
						<h4 class="mt-5 text-center"> Please check and try again.</h4>
					{% else %}
						<h3 class="lead mt-5 text-center">Reset password</h3>
                        <p class="text-center">Your password would be reset and sent to your email.</p>
					{% endif %}
					<form name="resetpasswordform" action="." method="post">
						<div class="row">
                            <div class="col-md-12 offset-md-4">
                                <p>{{ form.non_field_errors }}</p>
                            </div>
                        </div>
						<div class="form-group row">
							<label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Email:</label>
							<div class="col-sm-8">
								<input type="text" name="email" id="email" class="form-control"
								     required="True" placeholder="Enter your email address" />
							</div>
                            <div class="row">
                                <div class="col-md-12 offset-md-6">
                                    <p class="text-center">{{ form.old_password.errors }}</p>
                                </div>
                            </div>
						</div>
						{% csrf_token %}
						<div class="col-sm-8 offset-md-2">
							<input class="btn btn-primary btn-block main-button icon-button" type="submit" value="change">
						</div>
					</form>
                </div>
            </div>
			<div class="row">
				<div class="col-md-8 offset-md-2 pr-5">
					<ul class="nav justify-content-center pl-5 ml-5 mt-4 mb-5">
						<li class="nav-item">
						   <a class="nav-link active" href="#">Create Account</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Change password</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">forgotten password</a>
						</li>
					</ul>
				</div>
			</div>
        </div>   
{% endblock %}




    

