{% extends "hostel\hostels.html" %}
{% load hostels_tags %}
{%load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block content_banner %}
    <!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/blog-post-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li>How to Get Started in Photography</li>
					</ul>
					<h1 class="white-text">How to Get Started in Photography</h1>
					<ul class="blog-post-meta">
						<li class="blog-meta-author">By : <a href="#">John Doe</a></li>
						<li>18 Oct, 2017</li>
						<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /Hero-area -->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Profile</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>welcome here</p>
        </div>
    </div>
{% endblock %}