{% extends "hostel\hostels.html" %}
{% load hostels_tags %}
{%load staticfiles %}

<!-- this is the page for registring users-->

{% block title %}Create Account{% endblock %}
{% block content_banner %}
    <!-- Hero-area -->
	<div class="hero-area section">
		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/blog-post-background.jpg)"></div>
		<!-- /Backgound Image -->
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 text-center">
					<ul class="hero-area-tree">
						<li><a href="{% url "hostel:about_hostelite"%}">About</a></li>
						<li><a href="#contact_us">Contact us</a></li>
						<li>How to Get Started on HosteLite</li>
					</ul>
					<h1 class="white-text">How to Get Started on Hostelite</h1>
					<ul class="blog-post-meta">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /Hero-area -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-3 text-center">
                {% if form.errors %}	
					<h2 class="mt-3"> Please check and try again.</h2>
				{% else %}
                    <h2 class="mt-3">Create Account</h2>
                    <hr>
                {% endif %}
                <form name="register_form" enctype="multipart/form-data" action="." method="post" role="form">
					<p>{{ register_form.non_field_errors }}</p>
					<p>{{ register_form.first_name.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.first_name.id_for_label }}"class="col-sm-2 col-form-label">Firstname:</label>
                        <div class="col-sm-8">
                            <input type="text" name="first_name" id="firstname" class="form-control"
                                required="True" placeholder="Enter your Firstname" />
                        </div>
                    </div>
					<p>{{ register_form.last_name.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.last_name.id_for_label }}"class="col-sm-2 col-form-label">Lastname:</label>
                        <div class="col-sm-8">
                            <input type="text" name="last_name" id="lastname" class="form-control"
                                required="True" placeholder="Enter your Lastname" />
                        </div>
                    </div>
					<p>{{ register_form.password1.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.password1.id_for_label }}"class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" name="password1" id="id_password1" class="form-control"
                                required="True" placeholder="Enter a password" />
                                <p>{{ register_form.password1.help_text|safe }}</p>
                        </div>
                    </div>
					<p>{{ register_form.password2.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.password2.id_for_label }}"class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" name="password2" id="password2" class="form-control"
                                required="True" placeholder="Confirm your password" />
                        </div>
                    </div>
					<p>{{ register_form.email.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.email.id_for_label }}"class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" id="email" class="form-control"
                                required="True" placeholder="Enter your Email" />
                        </div>
                    </div>
					<p>{{ register_form.date_of_birth.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.date_of_birth.id_for_label }}"class="col-sm-2 col-form-label">Date of Birth:</label>
                        <div class="col-sm-8">
                            <input type="date" name="dob" id="dob" class="form-control"
                                required="True" placeholder="Date of Birth" />
                        </div>
                    </div>
                    <p>{{ register_form.phone_number.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.phone_number.id_for_label }}"class="col-sm-2 col-form-label">Phone number(s):</label>
                        <div class="col-sm-8">
                            <input type="text" name="contact" id="contact" class="form-control"
                                required="True" placeholder="Phone number(s)" />
                        </div>
                    </div>
                    <p>{{ register_form.address.errors }}</p>
                    <div class="form-group row">
                        <label for="{{ register_form.address.id_for_label }}"class="col-sm-2 col-form-label">Address:</label>
                        <div class="col-sm-8">
                            <input type="text" name="location" id="location" class="form-control"
                                required="True" placeholder="Present address" />
                        </div>
                    </div>
                    <p>{{ register_form.profile_picture.errors }}</p>
                    <div class="form-group row">
						<label for="{{ register_form.profile_picture.id_for_label }}"class="col-sm-2 col-form-label">Profile picture:</label>
						<div class="col-sm-8">
							<input type="file" name="profile_picture" id="profile_picture" class="form-control"
								   required ="True"
                        </div>   
                    </div>
                    {% csrf_token %}
                    <div class="col-sm-8 offset-md-2 mt-2">
						<input class="btn btn-primary btn-block main-button icon-button" type="submit" value="Submit">
					</div>
                </form>
            </div>    
        </div>
        <div class="row">
			<div class="col-md-8 offset-md-2">
				<ul class="nav footer-nav  justify-content-center mt-3 mb-3">
					<li class="nav-item">
						<a class="nav-link active" href="{% url "hostel:homepage" %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url "hostel:about_hostelite" %}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Community</a>
					</li>
				</ul>
			</div>
		</div>
    </div>
{% endblock %}